#box {
  height: 100px;
  width: 400px;
  background-color: pink;
  /* animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse; */
  /* animation: widthAnimation 3s ease-in 0s 3 normal ; */
  animation: colorAnimation 3s ease-in 0s 3 normal;
}

@keyframes widthAnimation {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes colorAnimation {
  0% {
    background-color: blue;
  }
  50% {
    background-color: purple;
  }
  80% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}

/* media query */
h1 {
  background-color: yellow;
  border: 2px solid black;
}

/* @media(width:400px){
    h1{
        background-color: red;
        color:white;
    }
} */

@media (min-width: 400px) {
  h1 {
    background-color: limegreen;
    color: white;
  }
}

@media (min-width: 200px) and (max-width: 300px) {
  h1 {
    background-color: magenta;
  }
}
@media(orientation:landscape){
    h1{
        background-color:aqua;
        color:brown
    }
}
